.navbar {
  position: sticky;
  top: 0;

  height: 10rem;
  z-index: 9;
  .nav_wrapper {
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: space-between;
    .logo {
      width: 4.5rem;
      display: flex;
      align-items: center;
      font-size: 3rem;
      gap: 1rem;
      img {
        width: 100%;
      }
      span {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }
    }
    .nav__icons {
      display: flex;
      align-items: center;
      gap: 2rem;
      .nav__icon {
        font-size: 2rem;
      }
    }
  }
}
